
<header class="md-top-bar md-top-bar--light " role="navigation">
        <div class="md-top-bar__container">
        <div class="md-top-bar__brand ">
        <a class="md-brand border_bottom" >
        <div class="md-brand__title ">
            <span class="margin20 margin_lft50p">{{Titlename}}</span></div>
        </a>
        
        
<div class ="margin20">
    <app-subheader></app-subheader>
    
</div>
<div style="margin-top:70px">
        <example-data-table-default></example-data-table-default>
</div>
</div>
</div>
</header>
