<div class="side_footerblock">
<div class="side_footer">
        <h6>Managed by ACME Ltd</h6>
        <div class="sidefooter_font margin20">
            <i class="icon icon-company_32"></i>
            <span>Acme Co</span>
        </div>
    </div>
    <div class="margin_left">
            <div class="md-avatar md-avatar--active md-avatar--dark column medium-3" title="Tom Smith">
                  
                </div>
                <div class='column medium-9 side_avatarblock'>
                    <span class="side_avatar">example@cisco.com</span>
                    <span>Partner Admin</span>
                </div>
    </div>
</div>