<div>
    <div class=" column medium-5 searchbox margin_lft20" ng-click="searchFilter.focusInput()" tabindex="-1" role="button">
        <div class="searchinput">
            <i class="icon icon-search_28 search_icon"></i>
            <i class="icon icon-exit-outline clear" ng-click="searchFilter.clearSearch();" aria-label="Clear" role="button" tabindex="0"></i>
        </div>
            <span class="">74 Customers</span>
    </div>
        
   
    <div class ="column medium-6" style="float: right">
          <app-inputholder></app-inputholder>
      </div>
      
</div>


     
